*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

header{

    background-color: #f4f6f8;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
}
.headerGraphicPic{
    width: 49%;
    
    
}
.headerGraphicPic img{
    width: 100%;
    padding: 20px;
}

.rightContent{
    width: 47%;
    padding-top: 50px;
    
}
.headerHello{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}
header h1{
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin-top: 5px;
    
}
.rightContent h2{
    font-size: 20px;
    font-weight: 400;
}

.yellowStroke{
    position: absolute;
    bottom: -12px;
    right: -10px;
    top: 1.2em;
    left: 8em;
    width: 3em;

}

.headerIcons{
    margin-top: 20px;
    margin-bottom: 30px;
}
.headerIcons i{
    padding-left: 10px;
}
.headerIcons a{
    color: rgb(0, 0, 0);
}

.headerButton{
    background-color:#F6e05e;
    border-radius:24px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:15px;
    padding:13px 33px;
    text-decoration:none;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.headerButton:hover{
    background-color: #000000;
    color: var(--yellow);
    animation: pop 0.3s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.2);}
  }

/* Au delà de 992px le style ci-dessous s'applique */
@media only screen and (max-width:992px) {
    
    header h1{
        font-size: 24px;
    }
    .headerContainer{
        max-width: 700px;
    }
 
 }
/* Mobile first */
@media only screen and (max-width:576px) { 

    .headerContainer{
        display: flex;
        width: 77%;
        max-width: 1000px;
        margin: auto;
        justify-content: space-evenly;
        
    }
    
    .headerGraphicPic{
        display: none;
    }
    
    .rightContent{
        width: 100%;

    }
    header h1{
        font-size: 30px;
        font-weight: 900;
        margin-top: 5px;
    }
	

}
