/* ***************Wave background image style **************** */

.waveBg{
    height: 50px;
    width: 100%;
}

/* ******************** Global content style ********************* */

h3{
    font-size: 22px;
}

.plain-width{
    width: 100%;
    margin-bottom: 5%;
}

.content-container{
    margin: 25px;
}

.center-text{
    text-align: center;
}

.yellow-stroke{
    height: 45px;
    background: url("../images/jaune.svg") no-repeat center bottom;
    background-size: 90px;
    margin-bottom: 15px;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}


/* ********************* Services content style ********************** */

#bio{
    display: flex;
    flex-direction: column-reverse;
}

#bio article{
    width: 100%;
} 

#bio aside{
    width: 180px;
    margin: 0 auto;
}

#bio .square-round{
    width: 100%;
    border-radius: 17px;
}

#bio table {
    border-collapse: collapse;
    width: 100%;
  }

#bio td{
    padding: 3px 0;
}

#bio table td:last-child{
    font-weight: 600;
}

#bio table td:first-child{
    padding-right: 10px;
}

#pictogram{
    margin-top: 25px;
}

.yellow-stroke+p{
    padding: 0 15%;
}

#services figure{
    text-align: center;
    width: 40%;
    margin: 15px 0;
}

#services figure img{
    max-width: 45%;
}


#services figcaption{
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}



/* ********************* Experience content style ********************** */





/* ********************* Media queries content style ********************** */


/* Au delà de 576px le style ci-dessous s'applique : Bien pour le mobile first*/
@media only screen and (min-width:576px) { 
    .content-container{
        max-width: 500px;
        margin: auto;
    }

    #bio table td:first-child{
        padding-right: 20px;
    }

    #bio table{
        width: auto;
    }

    .waveBg{
        height: 100px;
    }

}

/* Au delà de 992px le style ci-dessous s'applique */
@media only screen and (min-width:992px) {

    .content-container{
        max-width: 800px;
        margin: auto;
    }

    #bio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #bio article, #bio aside{
        width: 60%;
    }
    
    #bio aside{
        width: 35%;
    }

    #services figure{
        text-align: center;
        width: 20%;
        margin: 0;
    }

    .waveBg{
        height: 150px;
    }

    #bio aside{
        margin: 30px auto;
    }
     

}


