/* *********************** CSS for global site **************************** */

:root{
    --grey: #f4f6f8;
    --yellow: #f6e05e;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    color: #000;
    width: 100%;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
    margin: 0.3em 0;
}

a{
    text-decoration: none;
    color: #000;
}


/* ******************* CSS for navigation bar ************************/

.max-width{
    width: 100%;
    background-color: var(--grey);
    margin-top: 0;
    margin-bottom: 0;
}


#navigation .container{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#navigation ul{
    margin:0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding-left: 0;
    position: relative;
}

#navigation ul li{
    display: block;
    align-items: flex-end;
    width: 100%;
    height: 8%;
    padding-top: 10px;
}

#navigation .menu{
    position: fixed;
    right: 0;
    top: 0;
    font-size: 35px;
    height: 100vh;
    width:100%;
    background-color: var(--yellow);
    text-align: center;
    transition: all 0.4s ease-in-out;
    transform: translateX(110%);
}

#navigation .menu .active-link{
    font-weight: 800;
}

#navigation .menu .active-link:hover{
    border-bottom: none;
}

#navigation a{
    font-weight: 200;
    text-align: center;
    padding: 5px 0;
    transition: border-bottom 0.3s ease-in-out;
    margin-left: 0;
}

#navigation a:hover{
    border-bottom: none;
}

#navigation .logo{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#navigation .logo a{
    font-size: 18px;
    font-weight: 800;
    text-align: left;
}

#navigation .logo a:hover{
    border-bottom: none;
}

.menu-toggle {
    font-size: 30px;
    width: 40px;
    height: 40px;
}

#navigation label{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

#toggle{
    display: none;
    width: 30px;
    height: 30px; 
}

#navigation .close{
    opacity: 0;
    transition: all 0.2s ease-in;
    transition-delay: 150ms;
}

#toggle:checked + .menu {
    transform: translateX(0);
}

#toggle:checked ~ .close {
    opacity: 1;
}



/* Au delà de 576px le style ci-dessous s'applique : Bien pour le mobile first*/
@media only screen and (min-width:576px) { 
	#navigation ul{
        flex-direction: row;
        align-items: flex-end;
    }

    #navigation ul li{
       width: auto;
       height: 25px;
    }

    #navigation .menu a{
        margin-left: 30px;
        text-align: right;
    }

    .container{
        max-width: 600px;
        margin: auto;
        padding: 0;
    }
    #navigation .menu a:hover{
        border-bottom: solid 3px;
    }

    #navigation .menu-toggle {
        display: none;
    }

    #navigation .menu{
        position: static;
        font-size: 16px;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        background-color: var(--grey);
        height: fit-content;
        transform: translateX(0);
    }

    #navigation label{
        display: none;
    }

    #navigation .logo{
        width: 20%;
    }

}

/* Au delà de 992px le style ci-dessous s'applique */
@media only screen and (min-width:992px) {
    .container{
        max-width: 900px;
    }

    #navigation ul li{
        width: auto;
        height: auto;
     }
   

}