/* ***********************CSS for main**************************** */

:root{
    --grey: #f4f6f8;
    --yellow: #f6e05e;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    color: #000;
    width: 100%;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}


a{
    text-decoration: none;
    color: #000;
}


/* *******************CSS for navigation bar ************************/

.max-width{
    width: 100%;
    background-color: var(--grey);
    margin-top: 0;
    margin-bottom: 0;
}


#navigation .container{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#navigation ul{
    margin:0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding-left: 0;
    position: relative;
}

#navigation ul li{
    display: block;
    align-items: flex-end;
    width: 100px;
    height: 25px;
}

#navigation .menu .active-link{
    font-weight: 800;
}

#navigation .menu .active-link:hover{
    border-bottom: none;
}

#navigation a{
    font-weight: 200;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
    margin-left: 0;
}

#navigation a:hover{
    font-weight: 800;
    border-bottom: none;
}

#navigation .logo{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#navigation .logo a{
    font-size: 18px;
    font-weight: 800;
    text-align: left;
}

#navigation .logo a:hover{
    border-bottom: none;
}

#menu-toggle {
    display: block;
}


/* Au delà de 576px le style ci-dessous s'applique : Bien pour le mobile first*/
@media only screen and (min-width:576px) { 
	#navigation ul{
        flex-direction: row;
        align-items: flex-end;
    }

    #navigation ul li{
       width: auto;
    }

    #navigation .menu a{
        margin-left: 30px;
        text-align: right;
    }

    .container{
        max-width: 600px;
        margin: auto;
        padding: 0;
    }
    #navigation .menu a:hover{
        font-weight: 800;
        border-bottom: solid 3px;
    }

    #menu-toggle {
        display: none;
    }

}

/* Au delà de 992px le style ci-dessous s'applique */
@media only screen and (min-width:992px) {
    .container{
        max-width: 1000px;
    }

    #navigation ul li{
        width: auto;
        height: auto;
     }

     
     

}