footer {
    background-color: #F4F6F8;
    font-family: 'Nunito Sans', sans-serif;
    height: 200px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*margin: 100px;*/
}

.footer-content h5 {
    padding-top: 1em;;
    margin: 40px;
    font-size: 14px;
}

.footer-content p {
    font-size: 10px;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0px;
}

.social-media li {
    margin: 3px;
}

.social-media a {
    color:#000000;
}

.social-media a i {
    font-size: 12px;
}

.footer_bottom {
    text-align: center;
    font-size: 8px;
}

.footer_bottom p {
    margin-top: 0px;
}

.footer_bottom a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}