
/* ******************** Global content style ********************* */

h3{
    font-size: 24px;
}

.plain-width{
    width: 100%;
    margin-bottom: 5%;
}

.content-container{
    margin: 25px;
}

.center-text{
    text-align: center;
}

.yellow-stroke{
    height: 45px;
    background: url("../images/jaune.svg") no-repeat center bottom;
    background-size: 90px;
    margin-bottom: 15px;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}


/* ********************* Services content style ********************** */

#bio{
    display: flex;
    flex-direction: column-reverse;
}

#bio article{
    width: 100%;
} 

#bio aside{
    width: 180px;
    margin: 0 auto;
}

#bio .square-round{
    width: 100%;
    border-radius: 17px;
}

#bio table {
    border-collapse: collapse;
    width: 100%;
  }

#bio td{
    padding: 3px 0;
}

#bio table td:last-child{
    font-weight: 600;
}

#bio table td:first-child{
    padding-right: 10px;
}

#pictogram{
    margin-top: 25px;
}

.yellow-stroke+p{
    padding: 0 15%;
}

#services figure{
    text-align: center;
    width: 40%;
    margin: 15px 0;
}

#services figure img{
    max-width: 45%;
}


#services figcaption{
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}


/* ********************* Experience content style ********************** */

#experience .content-container{
    margin-top: 20px;
}

#experience .card{
    width: 100%;
    border: 2px solid var(--grey);
    border-radius: 17px;
    margin: 4%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

#experience .card:hover{
    box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.3) ;
    transform: translateX(2px);
    transform: translateY(2px);
    border-color: var(--yellow);
}

#experience .card:hover .top-band{
    background-color: var(--yellow);
}

#experience .card p{
    padding: 0;
    margin: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
    font-size: 0;
}

#experience .card:hover p{
    height: auto;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 1em;
}


#experience .top-band{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    border-radius: 15px 15px 0 0;
    transition: all 0.3s ease-in-out;
}

#experience .top-band small{
    color: #666;
}

#experience .top-band img{
    width: 50px;
    align-self: flex-end;
}


/* ********************* Media queries content style ********************** */


/* Au delà de 576px le style ci-dessous s'applique : Bien pour le mobile first*/
@media only screen and (min-width:576px) { 
    .content-container{
        max-width: 500px;
        margin: auto;
    }

    #bio table td:first-child{
        padding-right: 20px;
    }

    #bio table{
        width: auto;
    }

    #experience .card{
        margin: 1%;
    }


}

/* Au delà de 992px le style ci-dessous s'applique */
@media only screen and (min-width:992px) {

    .content-container{
        max-width: 800px;
        margin: auto;
    }

    #bio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #bio article, #bio aside{
        width: 60%;
    }
    
    #bio aside{
        width: 35%;
    }

    #services figure{
        text-align: center;
        width: 20%;
        margin: 0;
    }

    #bio aside{
        margin: 30px auto;
    }

    #experience .card{
        width: 46%;
        margin: 2%;
    }
     

}


