footer {
    background-color: #F4F6F8;
    font-family: 'Nunito Sans', sans-serif;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*margin: 100px;*/
}

.footer-content h5 {
    padding-top: 1em;
    margin-top:35px;
    font-size: 14px;
}

.footer-content p {
    font-size: 10px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0px;
}

.social-media li {
    margin: 10px;
}

.social-media a {
    color:#000000;
}

.social-media a i {
    font-size: 25px;
    margin-bottom: 1rem;
}

.footer_bottom {
    text-align: center;
    font-size: 8px;
}

.footer_bottom p {
    margin-top: 2rem;
}

.footer_bottom p:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer_bottom p, a {
    /*margin:0.5em;*/
    margin: 10px 0;
}

.footer_bottom a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

/* Au delà de 575px le style ci-dessous s'applique */
@media only screen and (min-width:575px) {
    .social-media a i {
        font-size: 16px;
        margin-bottom: 1rem;
    }
   

}